In [13]:
import pandas as pd
import numpy as np
import os

In [14]:
import pandas as pd

# Use the absolute path to the file
file_path = r'C:\Users\GICHEHA\Documents\Flatiron\dsc-data-science-env-config\phase_5.0\Data\reddit.csv'

In [25]:
data = pd.read_csv(file_path)  # Replace index_col=0 with appropr111iate index column if needed
print(data.head())  # Display the first few rows of the dataframe

   subreddit                                              title  \
0  teenagers                           I'm not like most girls.
1  teenagers  Hey guys does anyone have Disney+ that I could...
2  teenagers                              I did the right thing
3  teenagers       Oops, my bad. Posting this to the wrong sub.
4  teenagers               Being nice until somebody notices p1

                                                body  upvotes   created_utc  \
0                                         I'm a guy.      8.0  1.570670e+09
1  Iâ€™m broke and I wanna watch Disney movies so l...      4.0  1.574763e+09
2  Me and my friend were playing terraria. I didn...      4.0  1.607291e+09
3                        Ignore this post. Carry on.      5.0  1.585184e+09
4  I just want to be nice, or help, or do anythin...      7.0  1.598739e+09

   num_comments  label
0          11.0    0.0
1           7.0    0.0
2           7.0    0.0
3           7.0    0.0
4           7.0    0.0

In [26]:
#check the data describe 
data.describe()

             upvotes   created_utc   num_comments          label
count  494134.000000  4.941340e+05  471361.000000  494134.000000
mean       62.915592  1.566519e+09      15.343826       0.194445
std       945.298619  6.990924e+07      79.584086       0.395773
min         4.000000  1.201976e+09       1.000000       0.000000
25%         5.000000  1.552262e+09       4.000000       0.000000
50%         7.000000  1.578377e+09       7.000000       0.000000
75%        11.000000  1.611583e+09      14.000000       0.000000
max     82892.000000  1.672531e+09   19338.000000       1.000000

In [27]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494134 entries, 0 to 494133
Data columns (total 7 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   subreddit     494134 non-null  object
 1   title         494133 non-null  object
 2   body          401975 non-null  object
 3   upvotes       494134 non-null  float64
 4   created_utc   494134 non-null  float64
 5   num_comments  471361 non-null  float64
 6   label         494134 non-null  float64
dtypes: float64(4), object(3)
memory usage: 26.4+ MB

In [29]:
#check to see if there are null values in percentage form
data.isnull().sum() / len(data) * 100

subreddit        0.000000
title            0.000202
body            18.650609
upvotes          0.000000
created_utc      0.000000
num_comments     4.608669
label            0.000000
dtype: float64